Package                   Version
------------------------- ----------------
absl-py                   2.1.0
accelerate                0.33.0
addict                    2.4.0
aiofiles                  23.2.1
aiohappyeyeballs          2.3.5
aiohttp                   3.10.2
aiosignal                 1.3.1
altair                    5.3.0
altgraph                  0.17.2
annotated-types           0.7.0
antlr4-python3-runtime    4.9.3
anyio                     3.5.0
argon2-cffi               21.3.0
argon2-cffi-bindings      21.2.0
asttokens                 2.0.5
async-timeout             4.0.3
attrs                     21.4.0
Babel                     2.10.1
backcall                  0.2.0
beautifulsoup4            4.11.1
bitsandbytes              0.35.4
bleach                    5.0.0
blenderproc               2.7.1
blessings                 1.7
blinker                   1.8.2
boto3                     1.35.6
botocore                  1.35.6
bpy                       3.5.0
braceexpand               0.1.7
cachetools                5.0.0
carvekit_colab            4.1.2
certifi                   2024.7.4
cffi                      1.15.0
charset-normalizer        3.4.0
click                     8.1.7
cmake                     3.30.2
colorama                  0.4.6
coloredlogs               15.0.1
colorspacious             1.1.2
colour                    0.1.5
comm                      0.2.2
ConfigArgParse            1.7
contourpy                 1.2.1
cycler                    0.12.1
Cython                    0.29.37
dash                      2.17.1
dash-core-components      2.0.0
dash-html-components      2.0.0
dash-table                5.0.0
debugpy                   1.6.0
decorator                 5.1.1
decord                    0.6.0
defusedxml                0.7.1
diffusers                 0.19.3
dill                      0.3.8
docker                    6.0.1
einops                    0.8.0
entrypoints               0.4
exceptiongroup            1.2.2
executing                 0.8.3
fastapi                   0.112.0
fastjsonschema            2.15.3
ffmpy                     0.4.0
filelock                  3.13.1
Flask                     3.0.3
flatbuffers               24.3.25
fonttools                 4.53.1
frozenlist                1.4.1
fsspec                    2024.2.0
ftfy                      6.2.3
geomdl                    5.3.1
gitdb                     4.0.11
GitPython                 3.1.43
gpustat                   0.6.0
gradio                    3.50.2
gradio_client             0.6.1
grpcio                    1.65.4
h11                       0.14.0
h5py                      3.11.0
httpcore                  1.0.5
httpx                     0.27.0
huggingface-hub           0.24.5
humanfriendly             10.0
icecream                  2.1.0
idna                      3.7
imageio                   2.34.2
imageio-ffmpeg            0.5.1
importlib_metadata        8.2.0
importlib_resources       6.4.0
iniconfig                 2.0.0
iopath                    0.1.10
ipykernel                 6.13.0
ipython                   8.3.0
ipython-genutils          0.2.0
ipywidgets                8.1.3
itsdangerous              2.2.0
Jinja2                    3.1.2
jmespath                  1.0.1
joblib                    1.4.2
json5                     0.9.8
jsonschema                4.5.1
jupyter-client            7.3.1
jupyter_core              5.7.2
jupyter-server            1.17.0
jupyterlab                3.4.1
jupyterlab-pygments       0.2.2
jupyterlab-server         2.13.0
jupyterlab_widgets        3.0.11
kiwisolver                1.4.5
lazy_loader               0.4
lightning-utilities       0.11.6
lit                       18.1.8
llvmlite                  0.43.0
loguru                    0.7.2
Markdown                  3.6
markdown-it-py            3.0.0
MarkupSafe                2.1.5
matplotlib                3.9.1.post1
matplotlib-inline         0.1.3
mdurl                     0.1.2
meshio                    5.3.5
mistune                   0.8.4
mock                      4.0.3
modelcards                0.1.6
mpmath                    1.3.0
multidict                 6.0.5
multiprocess              0.70.16
nbclassic                 0.3.7
nbclient                  0.6.3
nbconvert                 6.5.0
nbformat                  5.10.4
nerfacc                   0.3.3
networkx                  3.2.1
ninja                     1.11.1.1
notebook                  6.4.11
notebook-shim             0.1.0
numba                     0.60.0
numpy                     1.24.0
numpy-stl                 3.1.2
nvidia-cublas-cu11        11.11.3.6
nvidia-cuda-cupti-cu11    11.8.87
nvidia-cuda-nvrtc-cu11    11.8.89
nvidia-cuda-runtime-cu11  11.8.89
nvidia-cudnn-cu11         9.1.0.70
nvidia-cufft-cu11         10.9.0.58
nvidia-curand-cu11        10.3.0.86
nvidia-cusolver-cu11      11.4.1.48
nvidia-cusparse-cu11      11.7.5.86
nvidia-ml-py              11.450.51
nvidia-ml-py3             7.352.0
nvidia-nccl-cu11          2.20.5
nvidia-nvtx-cu11          11.8.86
nvitop                    0.5.5
omegaconf                 2.2.3
onnxruntime               1.18.1
open3d                    0.18.0
opencv-python             4.10.0.84
opencv-python-headless    4.10.0.84
openmesh                  1.2.1
optimparallel             0.1.3
orjson                    3.10.7
packaging                 21.3
pandas                    2.2.2
pandocfilters             1.5.0
pexpect                   4.9.0
pickleshare               0.7.5
pillow                    10.4.0
pip                       24.0
piq                       0.8.0
Pivy                      0.6.9
platformdirs              4.2.2
plotly                    5.23.0
pluggy                    1.5.0
plyfile                   1.1
polyscope                 2.3.0
pooch                     1.8.2
portalocker               2.10.1
potpourri3d               1.1.0
progressbar               2.5
prometheus-client         0.14.1
prompt-toolkit            3.0.29
protobuf                  4.25.4
psutil                    6.0.0
ptyprocess                0.7.0
pure-eval                 0.2.2
pyarrow                   17.0.0
pyarrow-hotfix            0.6
pybind11                  2.13.1
pycparser                 2.21
pydantic                  2.8.2
pydantic_core             2.20.1
pydub                     0.25.1
pyembree                  0.1.6
pyglet                    2.0.17
Pygments                  2.18.0
pyhocon                   0.3.57
pyinstaller               5.1
pyinstaller-hooks-contrib 2022.7
PyMatting                 1.1.12
PyMCubes                  0.1.2
pymesh2                   0.3
pymeshlab                 2023.12.post1
pyparsing                 3.1.2
pypng                     0.20220715.0
PyQt5                     5.15.11
PyQt5-Qt5                 5.15.14
PyQt5_sip                 12.15.0
pyquaternion              0.9.9
pyransac3d                0.6.0
pyrsistent                0.18.1
PySide2                   5.15.2.1
pytest                    8.3.2
python-dateutil           2.8.2
python-louvain            0.16
python-multipart          0.0.9
python-utils              3.8.2
pytorch-lightning         1.9.5
pytorch3d                 0.7.7
pytz                      2024.1
pyvista                   0.44.1
PyYAML                    6.0.2
pyzmq                     22.3.0
regex                     2024.7.24
rembg                     2.0.58
requests                  2.32.3
retrying                  1.3.4
rich                      13.7.1
Rtree                     1.3.0
s3transfer                0.10.2
safetensors               0.4.4
scikit-image              0.25.0
scikit-learn              1.5.1
scipy                     1.15.1
scooby                    0.10.0
segment-anything          1.0
semantic-version          2.10.0
Send2Trash                1.8.0
setuptools                60.10.0
shapely                   2.0.6
shiboken2                 5.15.2.1
six                       1.16.0
smmap                     5.0.1
sniffio                   1.2.0
soupsieve                 2.3.2.post1
stack-data                0.2.0
starlette                 0.37.2
svgwrite                  1.4.3
sympy                     1.12
tenacity                  9.0.0
tensorboard               2.17.0
tensorboard-data-server   0.7.2
tensorboardX              2.6.2.2
termcolor                 1.1.0
terminado                 0.13.3
threadpoolctl             3.5.0
tifffile                  2024.7.24
tinycss2                  1.1.1
tinycudann                1.7
tokenizers                0.19.1
tomli                     2.0.1
toolz                     0.12.1
torch                     2.0.1+cu118
torch_efficient_distloss  0.1.3
torch-scatter             2.1.1+pt20cu118
torch-sparse              0.6.17+pt20cu118
torch-spline-conv         1.2.2+pt20cu118
torchaudio                2.0.2+cu118
torchmetrics              1.4.1
torchvision               0.15.2+cu118
tornado                   6.1
tqdm                      4.66.5
traitlets                 5.14.3
transformers              4.44.0
transforms3d              0.4.2
trimesh                   3.18.1
triton                    2.0.0
typing_extensions         4.9.0
tzdata                    2024.1
urllib3                   1.26.19
uvicorn                   0.30.5
vedo                      2024.5.2
vtk                       9.3.1
wcwidth                   0.2.13
webdataset                0.2.100
webencodings              0.5.1
websocket-client          1.3.2
websockets                11.0.3
Werkzeug                  3.0.3
wheel                     0.37.1
widgetsnbextension        4.0.11
xformers                  0.0.22
xxhash                    3.4.1
yarl                      1.9.4
zipp                      3.19.2
zstandard                 0.23.0
